iot-mqtt-for-ios-NodeREDImplementations/ClipboardNodeRed-containsAllNodes.txt
[{"id":"8a24acdf.607bc8","type":"ibmiot","z":"5b2319c1.667af8","name":"iPhone"},{"id":"3e77d543.c1882a","type":"ibmiot in","z":"5b2319c1.667af8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"1247823ebf04","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In (1247823ebf04)","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":193,"y":292,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8","18088ff2.16b3f"]]},{"id":"ae0082ac.51ff8","type":"function","z":"5b2319c1.667af8","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":424.5,"y":337,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"5b2319c1.667af8","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":590.5,"y":337,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"5b2319c1.667af8","name":"cpu status","active":true,"complete":"false","x":901.5,"y":334,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"5b2319c1.667af8","name":"device data","active":false,"console":"false","complete":"true","x":447.5,"y":195,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"5b2319c1.667af8","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":754.5,"y":288,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"5b2319c1.667af8","name":"danger","template":"Temperature ({{payload}}) critical","x":753.5,"y":382,"wires":[["5dad02b7.a252fc"]]},{"id":"c260095b.f0e1c8","type":"ibmiot in","z":"5b2319c1.667af8","authentication":"boundService","apiKey":"8a24acdf.607bc8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App (Own IoT Cloud)","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"x":187,"y":195,"wires":[["c0c482df.3f3b8","ae0082ac.51ff8"]]},{"id":"18088ff2.16b3f","type":"cloudant out","z":"5b2319c1.667af8","service":"OwnIoTCloud-cloudantNoSQLDB","cloudant":"","name":"","database":"my_demo_iot_db","payonly":false,"operation":"insert","x":458,"y":409,"wires":[]},{"id":"814d7fcf.7eb28","type":"debug","z":"5b2319c1.667af8","name":"","active":false,"console":"false","complete":"payload","x":734,"y":455,"wires":[]},{"id":"e3a2548f.1c5da8","type":"function","z":"5b2319c1.667af8","name":"Get Do Count","func":"var count = msg.payload.length;\n\nmsg.payload = \"Cloudant contains (\" + count + \") docs\";\n\nreturn msg;","outputs":"1","noerr":0,"x":516,"y":455.9998779296875,"wires":[["814d7fcf.7eb28"]]},{"id":"eeedcf49.11123","type":"cloudant in","z":"5b2319c1.667af8","service":"OwnIoTCloud-cloudantNoSQLDB","cloudant":"","name":"Get all docs","database":"my_demo_iot_db","search":"_all_","design":"","index":"","x":343.6666259765625,"y":455.7777099609375,"wires":[["e3a2548f.1c5da8"]]},{"id":"6f66ef53.90991","type":"inject","z":"5b2319c1.667af8","name":"Start get Data","topic":"","payload":"","payloadType":"string","repeat":"30","crontab":"","once":false,"x":158.6666259765625,"y":498.7777099609375,"wires":[["eeedcf49.11123","eb67aff0.14985"]]},{"id":"1d9c9f23.e26361","type":"cloudant in","z":"5b2319c1.667af8","service":"OwnIoTCloud-cloudantNoSQLDB","cloudant":"","name":"Search docs","database":"my_demo_iot_db","search":"_idx_","design":"_searchAll","index":"inx_all","x":658,"y":529,"wires":[["2c58cdda.d3a732"]]},{"id":"2c58cdda.d3a732","type":"debug","z":"5b2319c1.667af8","name":"","active":false,"console":"false","complete":"true","x":853,"y":597,"wires":[]},{"id":"eb67aff0.14985","type":"function","z":"5b2319c1.667af8","name":"Select Value (inx_AmbTemp:24*)","func":"msg.payload = \"inx_AmbTemp:24*\"; \nreturn msg;","outputs":1,"noerr":0,"x":403,"y":600,"wires":[["1d9c9f23.e26361","2c58cdda.d3a732"]]}]
